USE [aTimeControl_Dev]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 30/03/2026 19:09:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AbsenceCalendar]    Script Date: 30/03/2026 19:09:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AbsenceCalendar](
	[AbsenceId] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[Date] [datetime2](7) NOT NULL,
	[AbsenceType] [nvarchar](50) NOT NULL,
	[SourceRequestId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[AbsenceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuditLog]    Script Date: 30/03/2026 19:09:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditLog](
	[AuditId] [int] IDENTITY(1,1) NOT NULL,
	[EntityName] [nvarchar](255) NOT NULL,
	[EntityId] [int] NOT NULL,
	[Action] [nvarchar](50) NOT NULL,
	[OldValueJson] [nvarchar](max) NULL,
	[NewValueJson] [nvarchar](max) NULL,
	[PerformedByUserId] [int] NOT NULL,
	[PerformedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AuditId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Calendar_Days]    Script Date: 30/03/2026 19:09:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Calendar_Days](
	[Date] [date] NOT NULL,
	[IsWeekend] [bit] NOT NULL,
	[IsHoliday] [bit] NOT NULL,
	[HolidayName] [nvarchar](200) NULL,
	[CalendarTemplateId] [int] NOT NULL,
 CONSTRAINT [PK_Calendar_Days] PRIMARY KEY CLUSTERED 
(
	[CalendarTemplateId] ASC,
	[Date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CalendarTemplates]    Script Date: 30/03/2026 19:09:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CalendarTemplates](
	[CalendarTemplateId] [int] IDENTITY(1,1) NOT NULL,
	[TerritoryId] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Year] [int] NOT NULL,
	[IsDefault] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[CityCode] [nvarchar](max) NULL,
	[Level] [nvarchar](max) NOT NULL,
	[RegionCode] [nvarchar](max) NULL,
 CONSTRAINT [PK_CalendarTemplates] PRIMARY KEY CLUSTERED 
(
	[CalendarTemplateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee_WorkSchedules]    Script Date: 30/03/2026 19:09:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee_WorkSchedules](
	[WorkScheduleId] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[ValidFrom] [datetime2](7) NOT NULL,
	[ValidTo] [datetime2](7) NULL,
	[Notes] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[WorkScheduleTemplateId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[WorkScheduleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 30/03/2026 19:09:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeId] [int] NOT NULL,
	[EmployeeCode] [nvarchar](50) NOT NULL,
	[FullName] [nvarchar](200) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[Company] [nvarchar](max) NULL,
	[BusinessUnit] [nvarchar](max) NULL,
	[Department] [nvarchar](max) NULL,
	[ManagerEmployeeId] [int] NULL,
	[IsActive] [bit] NOT NULL,
	[StartDate] [datetime2](7) NULL,
	[EndDate] [datetime2](7) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[Tarjeta] [nvarchar](50) NULL,
	[TerritoryId] [int] NULL,
	[CalendarTemplateId] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeesStaging]    Script Date: 30/03/2026 19:09:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeesStaging](
	[StagingId] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeCode] [nvarchar](100) NULL,
	[FullName] [nvarchar](255) NULL,
	[Email] [nvarchar](255) NULL,
	[Company] [nvarchar](255) NULL,
	[BusinessUnit] [nvarchar](255) NULL,
	[Department] [nvarchar](255) NULL,
	[ManagerEmployeeCode] [nvarchar](100) NULL,
	[IsActive] [bit] NOT NULL,
	[StartDate] [datetime2](7) NULL,
	[EndDate] [datetime2](7) NULL,
	[ImportRunId] [int] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StagingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeVacationBalances]    Script Date: 30/03/2026 19:09:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeVacationBalances](
	[BalanceId] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[PolicyId] [int] NOT NULL,
	[Year] [int] NOT NULL,
	[AllocatedDays] [decimal](18, 2) NOT NULL,
	[UsedDays] [decimal](18, 2) NOT NULL,
	[RemainingDays] [decimal](18, 2) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BalanceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ImportErrors]    Script Date: 30/03/2026 19:09:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImportErrors](
	[ErrorId] [int] IDENTITY(1,1) NOT NULL,
	[ImportRunId] [int] NOT NULL,
	[RowNumber] [int] NOT NULL,
	[ErrorMessage] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ErrorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ImportRuns]    Script Date: 30/03/2026 19:09:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImportRuns](
	[ImportRunId] [int] IDENTITY(1,1) NOT NULL,
	[FileName] [nvarchar](500) NULL,
	[ImportedAt] [datetime2](7) NOT NULL,
	[TotalRows] [int] NOT NULL,
	[SuccessRows] [int] NOT NULL,
	[ErrorRows] [int] NOT NULL,
	[Status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ImportRunId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 30/03/2026 19:09:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TERMINALESals]    Script Date: 30/03/2026 19:09:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TERMINALESals](
	[Codigo] [char](2) NOT NULL,
	[Tipo] [tinyint] NULL,
	[Modelo] [tinyint] NULL,
	[Descripcion] [char](30) NULL,
	[IP] [char](30) NULL,
	[Puerto] [char](5) NULL,
	[Ethernet] [bit] NULL,
	[Workcode] [bit] NULL,
	[TipoAutentificacion] [tinyint] NULL,
	[TiempoAperturaPuerta] [int] NULL,
	[NumeroSerie] [char](20) NULL,
	[UTC] [int] NULL,
	[TerritoryId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Territories]    Script Date: 30/03/2026 19:09:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Territories](
	[TerritoryId] [int] IDENTITY(1,1) NOT NULL,
	[CountryCode] [nvarchar](2) NOT NULL,
	[CountryName] [nvarchar](100) NOT NULL,
	[Location] [nvarchar](100) NULL,
	[UTC] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Territories] PRIMARY KEY CLUSTERED 
(
	[TerritoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TimeCorrections]    Script Date: 30/03/2026 19:09:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeCorrections](
	[CorrectionId] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[Date] [datetime2](7) NOT NULL,
	[OriginalMinutes] [int] NULL,
	[CorrectedMinutes] [int] NOT NULL,
	[Reason] [nvarchar](500) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[ApprovedByUserId] [int] NULL,
	[ApprovedAt] [datetime2](7) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CorrectionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TimeDailySummaries]    Script Date: 30/03/2026 19:09:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeDailySummaries](
	[SummaryId] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[Date] [datetime2](7) NOT NULL,
	[WorkedMinutes] [int] NOT NULL,
	[ExpectedMinutes] [int] NOT NULL,
	[BalanceMinutes] [int] NOT NULL,
	[LastCalculatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SummaryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TimeEntries]    Script Date: 30/03/2026 19:09:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeEntries](
	[TimeEntryId] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[EntryType] [nvarchar](20) NOT NULL,
	[EventTime] [datetime2](7) NOT NULL,
	[Source] [nvarchar](50) NOT NULL,
	[GeoLocation] [nvarchar](max) NULL,
	[DeviceId] [nvarchar](max) NULL,
	[Comment] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedByUserId] [int] NOT NULL,
	[Time] [datetime] NULL,
	[Tarjeta] [nchar](50) NULL,
 CONSTRAINT [PK_TimeEntries] PRIMARY KEY CLUSTERED 
(
	[TimeEntryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 30/03/2026 19:09:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[UserId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
	[AssignedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 30/03/2026 19:09:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[PasswordHash] [nvarchar](500) NOT NULL,
	[EmployeeId] [int] NULL,
	[IsEnabled] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[LastLoginAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VacationPolicies]    Script Date: 30/03/2026 19:09:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VacationPolicies](
	[PolicyId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Year] [int] NOT NULL,
	[AccrualType] [nvarchar](50) NOT NULL,
	[TotalDaysPerYear] [decimal](18, 2) NOT NULL,
	[CarryOverMaxDays] [decimal](18, 2) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PolicyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VacationRequestDays]    Script Date: 30/03/2026 19:09:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VacationRequestDays](
	[RequestDayId] [int] IDENTITY(1,1) NOT NULL,
	[RequestId] [int] NOT NULL,
	[Date] [datetime2](7) NOT NULL,
	[DayFraction] [decimal](18, 2) NOT NULL,
	[IsHolidayOrWeekend] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RequestDayId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VacationRequests]    Script Date: 30/03/2026 19:09:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VacationRequests](
	[RequestId] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[EndDate] [datetime2](7) NOT NULL,
	[RequestedDays] [decimal](18, 2) NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[ApproverEmployeeId] [int] NULL,
	[ApproverComment] [nvarchar](500) NULL,
	[SubmittedAt] [datetime2](7) NULL,
	[DecisionAt] [datetime2](7) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RequestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkScheduleDayDetails]    Script Date: 30/03/2026 19:09:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkScheduleDayDetails](
	[WorkScheduleDayDetailId] [int] IDENTITY(1,1) NOT NULL,
	[WorkScheduleTemplateId] [int] NOT NULL,
	[DayOfWeek] [int] NOT NULL,
	[IsWorkDay] [bit] NOT NULL,
	[ExpectedStartTime] [time](7) NULL,
	[ExpectedEndTime] [time](7) NULL,
	[BreakMinutes] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_WorkScheduleDayDetails] PRIMARY KEY CLUSTERED 
(
	[WorkScheduleDayDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkScheduleTemplates]    Script Date: 30/03/2026 19:09:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkScheduleTemplates](
	[WorkScheduleTemplateId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[TerritoryId] [int] NOT NULL,
	[Description] [nvarchar](500) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_WorkScheduleTemplates] PRIMARY KEY CLUSTERED 
(
	[WorkScheduleTemplateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AbsenceCalendar] ADD  DEFAULT ('VACATION') FOR [AbsenceType]
GO
ALTER TABLE [dbo].[AuditLog] ADD  DEFAULT ('') FOR [EntityName]
GO
ALTER TABLE [dbo].[AuditLog] ADD  DEFAULT ('') FOR [Action]
GO
ALTER TABLE [dbo].[AuditLog] ADD  DEFAULT (getutcdate()) FOR [PerformedAt]
GO
ALTER TABLE [dbo].[Calendar_Days] ADD  DEFAULT ((0)) FOR [CalendarTemplateId]
GO
ALTER TABLE [dbo].[CalendarTemplates] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsDefault]
GO
ALTER TABLE [dbo].[CalendarTemplates] ADD  DEFAULT (CONVERT([bit],(1))) FOR [IsActive]
GO
ALTER TABLE [dbo].[CalendarTemplates] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[CalendarTemplates] ADD  DEFAULT (getutcdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[CalendarTemplates] ADD  DEFAULT (N'') FOR [Level]
GO
ALTER TABLE [dbo].[Employee_WorkSchedules] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Employee_WorkSchedules] ADD  DEFAULT (getutcdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[EmployeesStaging] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[EmployeesStaging] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[EmployeeVacationBalances] ADD  DEFAULT ((0)) FOR [UsedDays]
GO
ALTER TABLE [dbo].[EmployeeVacationBalances] ADD  DEFAULT (getutcdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[ImportErrors] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ImportRuns] ADD  DEFAULT (getutcdate()) FOR [ImportedAt]
GO
ALTER TABLE [dbo].[ImportRuns] ADD  DEFAULT ((0)) FOR [TotalRows]
GO
ALTER TABLE [dbo].[ImportRuns] ADD  DEFAULT ((0)) FOR [SuccessRows]
GO
ALTER TABLE [dbo].[ImportRuns] ADD  DEFAULT ((0)) FOR [ErrorRows]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT ('') FOR [Description]
GO
ALTER TABLE [dbo].[Territories] ADD  DEFAULT ((1)) FOR [UTC]
GO
ALTER TABLE [dbo].[Territories] ADD  DEFAULT (CONVERT([bit],(1))) FOR [IsActive]
GO
ALTER TABLE [dbo].[Territories] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Territories] ADD  DEFAULT (getutcdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[TimeCorrections] ADD  DEFAULT ('') FOR [Reason]
GO
ALTER TABLE [dbo].[TimeCorrections] ADD  DEFAULT ('PENDING') FOR [Status]
GO
ALTER TABLE [dbo].[TimeCorrections] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[TimeCorrections] ADD  DEFAULT (getutcdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[TimeDailySummaries] ADD  DEFAULT ((0)) FOR [WorkedMinutes]
GO
ALTER TABLE [dbo].[TimeDailySummaries] ADD  DEFAULT ((480)) FOR [ExpectedMinutes]
GO
ALTER TABLE [dbo].[TimeDailySummaries] ADD  DEFAULT ((0)) FOR [BalanceMinutes]
GO
ALTER TABLE [dbo].[UserRoles] ADD  DEFAULT (getutcdate()) FOR [AssignedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsEnabled]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[VacationPolicies] ADD  DEFAULT ('') FOR [Name]
GO
ALTER TABLE [dbo].[VacationPolicies] ADD  DEFAULT ('ANNUAL') FOR [AccrualType]
GO
ALTER TABLE [dbo].[VacationPolicies] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[VacationPolicies] ADD  DEFAULT (getutcdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[VacationRequestDays] ADD  DEFAULT ((1.0)) FOR [DayFraction]
GO
ALTER TABLE [dbo].[VacationRequestDays] ADD  DEFAULT ((0)) FOR [IsHolidayOrWeekend]
GO
ALTER TABLE [dbo].[VacationRequests] ADD  DEFAULT ('VACATION') FOR [Type]
GO
ALTER TABLE [dbo].[VacationRequests] ADD  DEFAULT ('DRAFT') FOR [Status]
GO
ALTER TABLE [dbo].[VacationRequests] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[VacationRequests] ADD  DEFAULT (getutcdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[WorkScheduleDayDetails] ADD  DEFAULT (CONVERT([bit],(1))) FOR [IsWorkDay]
GO
ALTER TABLE [dbo].[WorkScheduleDayDetails] ADD  DEFAULT ((60)) FOR [BreakMinutes]
GO
ALTER TABLE [dbo].[WorkScheduleDayDetails] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[WorkScheduleDayDetails] ADD  DEFAULT (getutcdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[WorkScheduleTemplates] ADD  DEFAULT (CONVERT([bit],(1))) FOR [IsActive]
GO
ALTER TABLE [dbo].[WorkScheduleTemplates] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[WorkScheduleTemplates] ADD  DEFAULT (getutcdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[AbsenceCalendar]  WITH CHECK ADD FOREIGN KEY([SourceRequestId])
REFERENCES [dbo].[VacationRequests] ([RequestId])
GO
ALTER TABLE [dbo].[AuditLog]  WITH CHECK ADD FOREIGN KEY([PerformedByUserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Calendar_Days]  WITH CHECK ADD  CONSTRAINT [FK_Calendar_Days_CalendarTemplates_CalendarTemplateId] FOREIGN KEY([CalendarTemplateId])
REFERENCES [dbo].[CalendarTemplates] ([CalendarTemplateId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Calendar_Days] CHECK CONSTRAINT [FK_Calendar_Days_CalendarTemplates_CalendarTemplateId]
GO
ALTER TABLE [dbo].[CalendarTemplates]  WITH CHECK ADD  CONSTRAINT [FK_CalendarTemplates_Territories_TerritoryId] FOREIGN KEY([TerritoryId])
REFERENCES [dbo].[Territories] ([TerritoryId])
GO
ALTER TABLE [dbo].[CalendarTemplates] CHECK CONSTRAINT [FK_CalendarTemplates_Territories_TerritoryId]
GO
ALTER TABLE [dbo].[Employee_WorkSchedules]  WITH CHECK ADD  CONSTRAINT [FK_Employee_WorkSchedules_WorkScheduleTemplates_WorkScheduleTemplateId] FOREIGN KEY([WorkScheduleTemplateId])
REFERENCES [dbo].[WorkScheduleTemplates] ([WorkScheduleTemplateId])
GO
ALTER TABLE [dbo].[Employee_WorkSchedules] CHECK CONSTRAINT [FK_Employee_WorkSchedules_WorkScheduleTemplates_WorkScheduleTemplateId]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_CalendarTemplates_CalendarTemplateId] FOREIGN KEY([CalendarTemplateId])
REFERENCES [dbo].[CalendarTemplates] ([CalendarTemplateId])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_CalendarTemplates_CalendarTemplateId]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Territories_TerritoryId] FOREIGN KEY([TerritoryId])
REFERENCES [dbo].[Territories] ([TerritoryId])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_Territories_TerritoryId]
GO
ALTER TABLE [dbo].[EmployeesStaging]  WITH CHECK ADD FOREIGN KEY([ImportRunId])
REFERENCES [dbo].[ImportRuns] ([ImportRunId])
GO
ALTER TABLE [dbo].[EmployeeVacationBalances]  WITH CHECK ADD FOREIGN KEY([PolicyId])
REFERENCES [dbo].[VacationPolicies] ([PolicyId])
GO
ALTER TABLE [dbo].[ImportErrors]  WITH CHECK ADD FOREIGN KEY([ImportRunId])
REFERENCES [dbo].[ImportRuns] ([ImportRunId])
GO
ALTER TABLE [dbo].[TERMINALESals]  WITH CHECK ADD  CONSTRAINT [FK_TERMINALESals_Territories_TerritoryId] FOREIGN KEY([TerritoryId])
REFERENCES [dbo].[Territories] ([TerritoryId])
GO
ALTER TABLE [dbo].[TERMINALESals] CHECK CONSTRAINT [FK_TERMINALESals_Territories_TerritoryId]
GO
ALTER TABLE [dbo].[TimeCorrections]  WITH CHECK ADD FOREIGN KEY([ApprovedByUserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([RoleId])
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[VacationRequestDays]  WITH CHECK ADD FOREIGN KEY([RequestId])
REFERENCES [dbo].[VacationRequests] ([RequestId])
GO
ALTER TABLE [dbo].[WorkScheduleDayDetails]  WITH CHECK ADD  CONSTRAINT [FK_WorkScheduleDayDetails_WorkScheduleTemplates_WorkScheduleTemplateId] FOREIGN KEY([WorkScheduleTemplateId])
REFERENCES [dbo].[WorkScheduleTemplates] ([WorkScheduleTemplateId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WorkScheduleDayDetails] CHECK CONSTRAINT [FK_WorkScheduleDayDetails_WorkScheduleTemplates_WorkScheduleTemplateId]
GO
ALTER TABLE [dbo].[WorkScheduleTemplates]  WITH CHECK ADD  CONSTRAINT [FK_WorkScheduleTemplates_Territories_TerritoryId] FOREIGN KEY([TerritoryId])
REFERENCES [dbo].[Territories] ([TerritoryId])
GO
ALTER TABLE [dbo].[WorkScheduleTemplates] CHECK CONSTRAINT [FK_WorkScheduleTemplates_Territories_TerritoryId]
GO
