USE [SistemaFichajesVacacionesDev]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 12/02/2026 16:58:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AbsenceCalendar]    Script Date: 12/02/2026 16:58:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AbsenceCalendar](
	[AbsenceId] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[Date] [date] NOT NULL,
	[AbsenceType] [nvarchar](50) NOT NULL,
	[SourceRequestId] [int] NULL,
 CONSTRAINT [PK_AbsenceCalendar] PRIMARY KEY CLUSTERED 
(
	[AbsenceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuditLog]    Script Date: 12/02/2026 16:58:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditLog](
	[AuditId] [int] IDENTITY(1,1) NOT NULL,
	[EntityName] [nvarchar](100) NOT NULL,
	[EntityId] [int] NOT NULL,
	[Action] [nvarchar](50) NOT NULL,
	[OldValueJson] [nvarchar](max) NULL,
	[NewValueJson] [nvarchar](max) NULL,
	[PerformedByUserId] [int] NOT NULL,
	[PerformedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_AuditLog] PRIMARY KEY CLUSTERED 
(
	[AuditId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Calendar_Days]    Script Date: 12/02/2026 16:58:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Calendar_Days](
	[Date] [datetime2](7) NOT NULL,
	[IsWeekend] [bit] NOT NULL,
	[IsHoliday] [bit] NOT NULL,
	[HolidayName] [nvarchar](200) NULL,
	[Region] [nvarchar](max) NULL,
	[Location] [nvarchar](max) NULL,
 CONSTRAINT [PK_Calendar_Days] PRIMARY KEY CLUSTERED 
(
	[Date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee_WorkSchedules]    Script Date: 12/02/2026 16:58:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee_WorkSchedules](
	[WorkScheduleId] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[ValidFrom] [datetime2](7) NOT NULL,
	[ValidTo] [datetime2](7) NULL,
	[ExpectedStartTime] [time](7) NOT NULL,
	[ExpectedEndTime] [time](7) NOT NULL,
	[BreakMinutes] [int] NOT NULL,
	[Notes] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Employee_WorkSchedules] PRIMARY KEY CLUSTERED 
(
	[WorkScheduleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 12/02/2026 16:58:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeId] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeCode] [nvarchar](50) NOT NULL,
	[FullName] [nvarchar](200) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[Company] [nvarchar](max) NULL,
	[BusinessUnit] [nvarchar](max) NULL,
	[Department] [nvarchar](max) NULL,
	[ManagerEmployeeId] [int] NULL,
	[IsActive] [bit] NOT NULL,
	[StartDate] [datetime2](7) NULL,
	[EndDate] [datetime2](7) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeesStaging]    Script Date: 12/02/2026 16:58:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeesStaging](
	[StagingId] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeCode] [nvarchar](50) NULL,
	[FullName] [nvarchar](200) NULL,
	[Email] [nvarchar](255) NULL,
	[Department] [nvarchar](max) NULL,
	[ManagerEmployeeCode] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[StartDate] [datetime2](7) NULL,
	[EndDate] [datetime2](7) NULL,
	[ImportRunId] [int] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[BusinessUnit] [nvarchar](max) NULL,
	[Company] [nvarchar](max) NULL,
 CONSTRAINT [PK_EmployeesStaging] PRIMARY KEY CLUSTERED 
(
	[StagingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeVacationBalances]    Script Date: 12/02/2026 16:58:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeVacationBalances](
	[BalanceId] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[PolicyId] [int] NOT NULL,
	[Year] [int] NOT NULL,
	[AllocatedDays] [decimal](5, 2) NOT NULL,
	[UsedDays] [decimal](5, 2) NOT NULL,
	[RemainingDays] [decimal](5, 2) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_EmployeeVacationBalances] PRIMARY KEY CLUSTERED 
(
	[BalanceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ImportErrors]    Script Date: 12/02/2026 16:58:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImportErrors](
	[ErrorId] [int] IDENTITY(1,1) NOT NULL,
	[ImportRunId] [int] NOT NULL,
	[RowNumber] [int] NOT NULL,
	[ErrorMessage] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_ImportErrors] PRIMARY KEY CLUSTERED 
(
	[ErrorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ImportRuns]    Script Date: 12/02/2026 16:58:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImportRuns](
	[ImportRunId] [int] IDENTITY(1,1) NOT NULL,
	[FileName] [nvarchar](255) NULL,
	[ImportedAt] [datetime2](7) NOT NULL,
	[TotalRows] [int] NOT NULL,
	[SuccessRows] [int] NOT NULL,
	[ErrorRows] [int] NOT NULL,
	[Status] [nvarchar](max) NULL,
 CONSTRAINT [PK_ImportRuns] PRIMARY KEY CLUSTERED 
(
	[ImportRunId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 12/02/2026 16:58:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TimeCorrections]    Script Date: 12/02/2026 16:58:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeCorrections](
	[CorrectionId] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[Date] [datetime2](7) NOT NULL,
	[OriginalMinutes] [int] NULL,
	[CorrectedMinutes] [int] NOT NULL,
	[Reason] [nvarchar](max) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[ApprovedByUserId] [int] NULL,
	[ApprovedAt] [datetime2](7) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_TimeCorrections] PRIMARY KEY CLUSTERED 
(
	[CorrectionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TimeDailySummaries]    Script Date: 12/02/2026 16:58:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeDailySummaries](
	[SummaryId] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[Date] [datetime2](7) NOT NULL,
	[WorkedMinutes] [int] NOT NULL,
	[ExpectedMinutes] [int] NOT NULL,
	[LastCalculatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_TimeDailySummaries] PRIMARY KEY CLUSTERED 
(
	[SummaryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TimeEntries]    Script Date: 12/02/2026 16:58:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeEntries](
	[TimeEntryId] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[EntryType] [nvarchar](20) NOT NULL,
	[EventTime] [datetime2](7) NOT NULL,
	[Source] [nvarchar](50) NOT NULL,
	[GeoLocation] [nvarchar](max) NULL,
	[DeviceId] [nvarchar](max) NULL,
	[Comment] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedByUserId] [int] NOT NULL,
 CONSTRAINT [PK_TimeEntries] PRIMARY KEY CLUSTERED 
(
	[TimeEntryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 12/02/2026 16:58:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[UserId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
	[AssignedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_UserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 12/02/2026 16:58:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[EmployeeId] [int] NULL,
	[IsEnabled] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[LastLoginAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VacationPolicies]    Script Date: 12/02/2026 16:58:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VacationPolicies](
	[PolicyId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Year] [int] NOT NULL,
	[AccrualType] [nvarchar](50) NOT NULL,
	[TotalDaysPerYear] [decimal](5, 2) NOT NULL,
	[CarryOverMaxDays] [decimal](5, 2) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_VacationPolicies] PRIMARY KEY CLUSTERED 
(
	[PolicyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VacationRequestDays]    Script Date: 12/02/2026 16:58:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VacationRequestDays](
	[RequestDayId] [int] IDENTITY(1,1) NOT NULL,
	[RequestId] [int] NOT NULL,
	[Date] [date] NOT NULL,
	[DayFraction] [decimal](3, 2) NOT NULL,
	[IsHolidayOrWeekend] [bit] NOT NULL,
 CONSTRAINT [PK_VacationRequestDays] PRIMARY KEY CLUSTERED 
(
	[RequestDayId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VacationRequests]    Script Date: 12/02/2026 16:58:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VacationRequests](
	[RequestId] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NOT NULL,
	[RequestedDays] [decimal](5, 2) NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[ApproverEmployeeId] [int] NULL,
	[ApproverComment] [nvarchar](1000) NULL,
	[SubmittedAt] [datetime2](7) NULL,
	[DecisionAt] [datetime2](7) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_VacationRequests] PRIMARY KEY CLUSTERED 
(
	[RequestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT (N'') FOR [Description]
GO
ALTER TABLE [dbo].[AbsenceCalendar]  WITH CHECK ADD  CONSTRAINT [FK_AbsenceCalendar_Employees_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([EmployeeId])
GO
ALTER TABLE [dbo].[AbsenceCalendar] CHECK CONSTRAINT [FK_AbsenceCalendar_Employees_EmployeeId]
GO
ALTER TABLE [dbo].[AbsenceCalendar]  WITH CHECK ADD  CONSTRAINT [FK_AbsenceCalendar_VacationRequests_SourceRequestId] FOREIGN KEY([SourceRequestId])
REFERENCES [dbo].[VacationRequests] ([RequestId])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[AbsenceCalendar] CHECK CONSTRAINT [FK_AbsenceCalendar_VacationRequests_SourceRequestId]
GO
ALTER TABLE [dbo].[AuditLog]  WITH CHECK ADD  CONSTRAINT [FK_AuditLog_Users_PerformedByUserId] FOREIGN KEY([PerformedByUserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[AuditLog] CHECK CONSTRAINT [FK_AuditLog_Users_PerformedByUserId]
GO
ALTER TABLE [dbo].[Employee_WorkSchedules]  WITH CHECK ADD  CONSTRAINT [FK_Employee_WorkSchedules_Employees_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([EmployeeId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Employee_WorkSchedules] CHECK CONSTRAINT [FK_Employee_WorkSchedules_Employees_EmployeeId]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Employees_ManagerEmployeeId] FOREIGN KEY([ManagerEmployeeId])
REFERENCES [dbo].[Employees] ([EmployeeId])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_Employees_ManagerEmployeeId]
GO
ALTER TABLE [dbo].[EmployeesStaging]  WITH CHECK ADD  CONSTRAINT [FK_EmployeesStaging_ImportRuns_ImportRunId] FOREIGN KEY([ImportRunId])
REFERENCES [dbo].[ImportRuns] ([ImportRunId])
GO
ALTER TABLE [dbo].[EmployeesStaging] CHECK CONSTRAINT [FK_EmployeesStaging_ImportRuns_ImportRunId]
GO
ALTER TABLE [dbo].[EmployeeVacationBalances]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeVacationBalances_Employees_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([EmployeeId])
GO
ALTER TABLE [dbo].[EmployeeVacationBalances] CHECK CONSTRAINT [FK_EmployeeVacationBalances_Employees_EmployeeId]
GO
ALTER TABLE [dbo].[EmployeeVacationBalances]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeVacationBalances_VacationPolicies_PolicyId] FOREIGN KEY([PolicyId])
REFERENCES [dbo].[VacationPolicies] ([PolicyId])
GO
ALTER TABLE [dbo].[EmployeeVacationBalances] CHECK CONSTRAINT [FK_EmployeeVacationBalances_VacationPolicies_PolicyId]
GO
ALTER TABLE [dbo].[ImportErrors]  WITH CHECK ADD  CONSTRAINT [FK_ImportErrors_ImportRuns_ImportRunId] FOREIGN KEY([ImportRunId])
REFERENCES [dbo].[ImportRuns] ([ImportRunId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ImportErrors] CHECK CONSTRAINT [FK_ImportErrors_ImportRuns_ImportRunId]
GO
ALTER TABLE [dbo].[TimeCorrections]  WITH CHECK ADD  CONSTRAINT [FK_TimeCorrections_Employees_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([EmployeeId])
GO
ALTER TABLE [dbo].[TimeCorrections] CHECK CONSTRAINT [FK_TimeCorrections_Employees_EmployeeId]
GO
ALTER TABLE [dbo].[TimeCorrections]  WITH CHECK ADD  CONSTRAINT [FK_TimeCorrections_Users_ApprovedByUserId] FOREIGN KEY([ApprovedByUserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[TimeCorrections] CHECK CONSTRAINT [FK_TimeCorrections_Users_ApprovedByUserId]
GO
ALTER TABLE [dbo].[TimeDailySummaries]  WITH CHECK ADD  CONSTRAINT [FK_TimeDailySummaries_Employees_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([EmployeeId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TimeDailySummaries] CHECK CONSTRAINT [FK_TimeDailySummaries_Employees_EmployeeId]
GO
ALTER TABLE [dbo].[TimeEntries]  WITH CHECK ADD  CONSTRAINT [FK_TimeEntries_Employees_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([EmployeeId])
GO
ALTER TABLE [dbo].[TimeEntries] CHECK CONSTRAINT [FK_TimeEntries_Employees_EmployeeId]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([RoleId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Roles_RoleId]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Users_UserId]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Employees_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([EmployeeId])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Employees_EmployeeId]
GO
ALTER TABLE [dbo].[VacationRequestDays]  WITH CHECK ADD  CONSTRAINT [FK_VacationRequestDays_VacationRequests_RequestId] FOREIGN KEY([RequestId])
REFERENCES [dbo].[VacationRequests] ([RequestId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VacationRequestDays] CHECK CONSTRAINT [FK_VacationRequestDays_VacationRequests_RequestId]
GO
ALTER TABLE [dbo].[VacationRequests]  WITH CHECK ADD  CONSTRAINT [FK_VacationRequests_Employees_ApproverEmployeeId] FOREIGN KEY([ApproverEmployeeId])
REFERENCES [dbo].[Employees] ([EmployeeId])
GO
ALTER TABLE [dbo].[VacationRequests] CHECK CONSTRAINT [FK_VacationRequests_Employees_ApproverEmployeeId]
GO
ALTER TABLE [dbo].[VacationRequests]  WITH CHECK ADD  CONSTRAINT [FK_VacationRequests_Employees_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([EmployeeId])
GO
ALTER TABLE [dbo].[VacationRequests] CHECK CONSTRAINT [FK_VacationRequests_Employees_EmployeeId]
GO
